.Marks{
    border:1px solid #ddd;
    border-radius: 24px;
    padding: 12px;
    background: #f0f0f0;
    .card{
        background: #fff;
    padding: 12px;
    margin: 24px 0;
    border-radius: 12px;
    }
    .fields{
        margin: 15px 0;
    }
}